@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-50: #fef2f2;
  --color-brand-100: #fee2e2;
  --color-brand-500: #e31e24; /* India Post Red */
  --color-brand-600: #c5161c;
  --color-brand-700: #991b1b;
  
  --color-accent-50: #fffbeb;
  --color-accent-100: #fef3c7;
  --color-accent-500: #ffd200; /* India Post Yellow */
  --color-accent-600: #d97706;
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900 transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}
